<!DOCTYPE html>
<html lang="en">
<head>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.12/css/dataTables.bootstrap.min.css">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>
	<div class="container">
	  <h2>Select Dataset</h2>
	  <div class="row">
	    <div class="col-sm-6">
	    	<a href="/twitter">
		    	<div class="panel panel-primary">
		      		<div class="panel-heading">Goto Twitter Data-Set</div>
		      		<div class="panel-body">
		      			<ul>
		      				<li>Twitter data-set contains 11,226 records.</li>
		      				<li>Search by ID or by Twitter text.</li>
		      				<li>Sorting and Filtering is not functional for now.</li>
		      			</ul> 
		      			<button type="button" class="btn btn-info btn-lg">Goto Twitter Data-Set</button>
		      		</div>
		    	</div>
		    </a>
	    </div>
	    <div class="col-sm-6">
	    	<a href="/ny">
		    	<div class="panel panel-success">
		      		<div class="panel-heading">Goto Causes of Deaths in NYC</div>
			      	<div class="panel-body">
			      		<ul>
		      				<li>New York City data-set consists of 3840 records in total.</li>
		      				<li>Search by Cause of Death/Ethnicity.</li>
		      				<li>Sorting and Filtering is not functional for now.</li>
		      			</ul> 
		      			<button type="button" class="btn btn-success btn-lg">Goto NYC Data-Set</button>
			      	</div>
		    	</div>
		    </a>
	    </div>
	  </div>
	</div>
</body>
</html>
<script src="https://code.jquery.com/jquery-1.12.3.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.12/js/dataTables.bootstrap.min.js"></script>
<script type="text/javascript">
$(document).ready(function () {

});
</script> 